:root {
  font-size: 1em;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:focus {
  outline: 4px solid #fd6041;
  outline-offset: 4px;
}

.skip-to-main-content {
  position: absolute;
  transform: translateY(-400%);
  background-color: black;
  color: white;
  font-size: 1.5em;
  padding: 1%;
}
.skip-to-main-content:focus {
  transform: translateY(0%);
  position: absolute;
  top: 1vh;
  left: 1%;
  z-index: 1;
}

main {
  padding: 5% 7% 5% 7%;
}
main > * {
  margin: 0 auto;
}

p {
  margin: 3% 0 2% 0;
  max-width: 70ch;
  line-height: 1.5em;
}

h1,
h2 {
  margin: 3% 0 2% 0;
}

img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

header {
  padding: 0;
  margin: 0;
  border: 0;
}
header figure {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}
header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: left;
  list-style-type: none;
  margin: 0;
  padding: 0%;
  background-color: #1464AE;
}
header .nav-bar .active-page {
  background-color: white;
}
header .nav-bar .active-page a {
  color: #1464AE;
}
header .nav-bar .active-page:hover a {
  color: white;
}
header .nav-bar li {
  padding: 1.5%;
}
header .nav-bar li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.1em;
}
header .nav-bar li:hover {
  background-color: #fd6041;
  color: white;
}

section {
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
}
section .sub-articles {
  display: grid;
  grid-template-rows: 30% auto;
  gap: 1vh;
  grid-template-areas: "figure" "text";
}
section .sub-articles__image {
  grid-area: figure;
  justify-self: center;
  height: 90%;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mission table {
  border-collapse: collapse;
  width: 60%;
}
.mission table th {
  background-color: #1464AE;
  color: white;
}
.mission table td,
.mission table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.mission table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.feedback-form {
  width: 70%;
  background-color: rgba(0, 153, 208, 0.5);
  box-shadow: 1em 2em 3em 2em grey;
  padding: 5%;
  margin-top: 10%;
}
.feedback-form h1 {
  margin: 2em 0;
}
.feedback-form h2 {
  margin: 1.5em 0;
  font-weight: lighter;
  font-size: 1.3em;
}
.feedback-form label {
  font-size: 1.1em;
}
.feedback-form input {
  background-color: #f2f2f2;
  margin: 2%;
  height: 2em;
}
.feedback-form input:hover {
  border: solid 4px #fd6041;
}
.feedback-form input[type=checkbox i] {
  width: 2em;
  height: 2em;
  vertical-align: middle;
}
.feedback-form input[type=submit i] {
  height: 3.5em;
  width: 7.5em;
  font-size: 1.5em;
  display: block;
  margin: auto;
}
.feedback-form input[type=submit i]:hover {
  background-color: #fd6041;
  color: white;
}
.feedback-form input[type=submit i]:active {
  background-color: salmon;
}

footer {
  background-color: #1464AE;
  color: white;
  padding: 2%;
  font-size: 1.7em;
}/*# sourceMappingURL=style.css.map */